.Checkout {
    text-align: center;
    width: 500px;
    margin-left: 100px;
    background-color: rgb(247, 247, 247);

}

.Checkout h4 {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}