.custome-row {
    display: flex;
    flex-direction: row;
}

.custome-row-items {
    flex: 1;
    margin: 2px;
}

.btn-add-cart {
    flex-basis: 80%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    width: 100%;
}

.btn-add-fav {
    flex-basis: 20%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
}

.btn-add-cart:hover,
.btn-add-fav:hover {
    background-color: rgb(98, 98, 98);
    color: white;
}

.btn-add-cart:disabled {
    background-color: rgb(98, 98, 98);
    color: white;
}

.qty-wrap {
    border: 1px solid gray;
    text-align: center;
}

.qty-btn {
    border: none;
    background-color: white;
}

.plus-disable:disabled {
    color: gray;
}