.ContacInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.ContacInfo input {
    padding: 1vmin;
    width: 350px;

}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}

.row-container p {
    font-weight: bold;
}