.navbar {
    border-bottom: 2px solid black;
}

.cart-badge-container {
    display: flex;
    flex-direction: row-reverse;

}

.cart-icon-div {
    align-self: flex-end;
}

.cart-num-div {
    font-size: 8px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 9px;
}

.overlay-btn {
    background-color: white;
    border: none;
}

.overlay-btn:hover {
    color: gray;
}