.product-title {
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.card-body-price {
    margin: 0;
}

.product-img {
    width: 300px;
    height: 400px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}